@using Shopper.Models.EF
@using PagedList.Mvc
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="section group">
        <div class="back-links">
            <a href="/Trang-chu"><i class="glyphicon glyphicon-arrow-left"></i> Quay lại trang chủ</a>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tìm thấy @ViewBag.total kết quả cho từ khóa @ViewBag.keyword
                    </div>
                    <div class="panel-body">
                        @{var i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            var url = "/chi-tiet/" + item.MetaTitile + "-" + item.ID;
                            <div class="grid_1_of_4 images_1_of_4">
                                <h2>@item.Name</h2>
                                <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
                                @if (item.PromotionPrice.Value > 0)
                                {
                                    <h1 style="text-decoration: line-through;">
                                        <span class="rupees">
                                            @item.Price.Value.ToString("N0") VNĐ
                                        </span>
                                    </h1>
                                    <h1>
                                        <span class="rupees">
                                            @item.PromotionPrice.Value.ToString("N0") VNĐ
                                        </span>
                                    </h1>
                                }
                                else
                                {
                                    <h1>
                                        <span class="rupees">
                                            @item.Price.Value.ToString("N0") VNĐ
                                        </span>
                                    </h1>
                                }
                                <div class="price-details">
                                    <div class="price-number">
                                        <p>
                                            <span class="rupees">
                                                @((item.Quantity > 0) ? "Còn hàng" : "Hết hàng")
                                            </span>
                                        </p>
                                    </div>
                                    <div class="add-cart">
                                        <h4><a href="/them-gio-hang?productID=@item.ID&quantity=1">Mua</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            if (i % 4 == 0)
                            {
                                <div style="clear:both;"></div>
                                <hr />
                            }
                        }
                    </div>
                    <div class="panel-footer">
                        @Html.PagedListPager(Model, page => Url.Action("SearchProductResult", "Product", new { page = page }))
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>