@{
    ViewBag.Title = "tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Shopper.Models.EF;
@using PagedList.Mvc;
@model PagedList.IPagedList<Content>

@section jsFooter{

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=532606476940861";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}
<div id="fb-root"></div>
<div class="main">
    <div class="content">
        @foreach (var item in Model)
        {
            <div class="image group">
                <div class="grid images_3_of_1">
                    <img src="@item.Image" alt="@item.Name" />
                </div>
                <div class="grid news_desc">
                    <h3><a href="/tin-tuc/@item.MetaTitile-@item.ID">@item.Name</a></h3>
                    <h4>Đăng ngày @(item.CreateDate.Value.ToString("dd-MM-yyyy")) bởi <span>@item.CreateBy</span></h4>
                    <div class="fb-like" data-href="@Request.Url.AbsoluteUri" data-width="20" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                    <p>@item.Description</p>
                </div>
            </div>
        }
        <div class="content-pagenation">
            @Html.PagedListPager(Model, page => Url.Action("Index", "News", new {page = page }))
        </div>
    </div>
</div>
