@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Shopper.Models.EF;
@model User

@section header{
    Sửa Thông Tin Người Dùng
}
@section footerJS{
    <script>

        $('#btnAddImage').on('click', function (e) {
            e.preventDefault();
            var ck = new CKFinder();
            ck.selectActionFunction = function (url) {
                $('#Avartar').val(url)
            };
            ck.popup();
        })
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading">
                    <a href="/Admin/User/Index" class="btn btn-default btn-sm mr-15"><i class="fa fa-backward"></i>&nbsp;Quay lại</a>
                </div>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("Update", "User", FormMethod.Post))
                        {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @style = "color:red;" })
                @Html.HiddenFor(Model => Model.ID)
                @Html.HiddenFor(Model => Model.UserName)
                @Html.HiddenFor(Model => Model.PassWord)

                <div class="form-group">
                    @Html.LabelFor(Model => Model.FullName)
                    @Html.TextBoxFor(Model => Model.FullName, new { @class = "form-control" })
                    <p class="help-block">@Html.ValidationMessageFor(Model => Model.FullName, "", new { @style = "color:red;" })</p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Address)
                    @Html.TextBoxFor(Model => Model.Address, new { @class = "form-control" })
                    <p class="help-block">@Html.ValidationMessageFor(Model => Model.Address, "", new { @style = "color:red;" })</p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Email)
                    @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
                    <p class="help-block">@Html.ValidationMessageFor(Model => Model.Email, "", new { @style = "color:red;" })</p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Phone)
                    @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control" })
                    <p class="help-block">@Html.ValidationMessageFor(Model => Model.Phone, "", new { @style = "color:red;" })</p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.PrivateID)
                    @Html.DropDownListFor(Model => Model.PrivateID, null, new { @class = "form-control" })
                    <p class="help-block"></p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Avartar)
                    @Html.TextBoxFor(Model => Model.Avartar, new { @class = "form-control" })
                    <a href="#" class="btn btn-link" id="btnAddImage">Thêm Ảnh</a>
                    <p class="help-block"></p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.Status)
                    @Html.DropDownListFor(Model => Model.Status, null, new { @class = "form-control" })
                    <p class="help-block">@Html.ValidationMessageFor(Model => Model.Status, "", new { @style = "color:red;" })</p>
                </div>
                <input type="submit" value="Cập Nhật" class="btn btn-primary btn-lg btn-block" />
                        }
            </div>
            <div class="panel-footer">
                <a href="/Admin/User/Index" class="btn btn-default btn-sm mr-15"><i class="fa fa-backward"></i>&nbsp;Quay lại</a>
            </div>
        </div>
    </div>
</div>

